/* styles.css */

/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Main navigation container */
  .navbar {
    background-color: #ff95ad;
    padding: 10px;
  }
  
  /* Logo container */
  .navbar .logo {
    display: flex;
    align-items: center;
  }
  
  /* Logo image */
  .navbar .logo img {
    width: 201px;
    height: 81px;
    margin-right: 10px;
  }
  
  /* Title */
  .navbar .title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
  }
  
  /* Navigation list */
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  /* Navigation item */
  .navbar li {
    margin: 0 10px;
  }
  
  /* Navigation link */
  .navbar a {
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.5s ease-in-out;
  }
  
  /* Navigation link hover */
  .navbar a:hover {
    border-bottom-color: #71d87f;
  }
  
  /* Active navigation link */
  .navbar .active a {
    border-bottom-color: #71d87f;
  }
